@charset "UTF-8";

body{
	color: #000;
	font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
	font-size: 62.5%;
	line-height: 1.5;
	letter-spacing: 0.1em;
	overflow-x: hidden;
	box-sizing: border-box;
}

img{
	border:none;
	vertical-align:bottom;
}

a{
	text-decoration: none;
	color: #000;
	transition: color 0.3s ease 0s;
	-webkit-transition: color 0.3s ease 0s;
}

a:hover {
	color: #999;
}

ul{
	list-style-type:none;
}


#contents {
	float: left;
	width: 100%;
	margin-bottom: 110px;
	line-height: 2.4em;
	letter-spacing: 0.15em;
}
#contents #pagetitle {
	font-size: 20px;
	font-weight: normal;
	float: left;
	width: 100%;
	margin-bottom: 30px;
	padding-bottom: 10px;
	position: relative;
	margin-top: 80px;
	letter-spacing: 0.15em;
	z-index: 0;
}

@media screen and (max-width: 1000px) {
	#wrapper {
		width: 90%;
		position: relative;
		background-color: #FFF;
		margin-right: auto;
		margin-left: auto;
		z-index: 0;
	}
	header {
		width: 100%;
		position: relative;
		z-index: 2;
		height: 120px;
	}
	header h1 {
		height: 100px;
		width: 300px;
	position: absolute;
	left: -9px;
	top: 50%;
	margin-top: -25px;
	overflow: hidden;
	padding-right: 9px;
	padding-left: 9px;
	}
	header h1 a {
	background-image: url(../images/logo.png);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: 32px auto;
	text-indent: -9999px;
	height: 50px;
	width: 32px;
	transition: all 1s ease;
	-webkit-transition: all 1s ease;
	float: left;
	}
	header h1 a:hover {
   	 transform: rotate(720deg);
    	-webkit-transform: rotate(720deg);
	}
	#information .info_wrap {
		width: 100%!important;
	}
	#information .information01 dt {
		width: 100%!important;
	}
	#information .information01 dd {
		width: 100%!important;
	}

}
@media screen and (min-width: 1001px) {
	#wrapper {
		width: 1000px;
		position: relative;
		background-color: #FFF;
		margin-right: auto;
		margin-left: auto;
		z-index: 0;
	}
	header {
	width: 100%;
	position: relative;
	z-index: 2;
	height: 100px;
	}
	header h1 {
	height: 100px;
	width: 300px;
	position: absolute;
	left: -12px;
	top: 50%;
	margin-top: -36px;
	padding-right: 12px;
	padding-left: 12px;
	overflow: hidden;
	}
}


header h1 a {
	height: 100%;
	width: 100%;
	display: block;
}

#information {
	float: left;
	width: 100%;
	margin-bottom: 40px;
	position: relative;
	padding-top: 40px;
}

#information .info_wrap {
	float: left;
	width: 620px;
}
#information h1 {
	background-image: url(../images/footer_logo.png);
	background-repeat: no-repeat;
	background-position: left top;
	background-size: 157px 19px;
	float: left;
	height: 19px;
	width: 100%;
	margin-bottom: 28px;
	text-indent: -9999px;
}
#information h1 a {
	display: block;
}
#information .information01 {
	float: left;
	width: 100%;
	margin-bottom: 8px;
	font-size: 12px;
}
footer {
	float: left;
	width: 100%;
	margin-bottom: 20px;
	position: relative;
	padding-top: 20px;
	font-size: 10px;
}
footer p {
	text-align: center;
}
